.actioncard {
    font-family: Arial;
    background: whitesmoke;
    margin: 10px;
    padding: 20px 10px;
    color: #474747;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, .2);
}
.actioncard:hover {
}
.headline {
    text-align: left;
    font-weight: bolder;
    font-size: 1.6rem;
    padding: 0;
    margin: 5px 0 0 0;
}
.horizontalLine {
    padding: 0;
    margin: 0;
    width: 25%;
    height: 10px;
    background: #474747;
}
.body {
    text-align: left;
    font-weight: lighter;
    font-size: 1rem;
    padding: 0;
    margin: 10px 0;
}